/node_modules
WebdriverIO/node_modules
/Folder-Testing/testing-webdiver-api-kelas/node_modules
/Folder-Testing/testing-webdiver-api-kelas/allure-report
/Folder-Testing/
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
